In [9]:
import pandas as pd
from sqlalchemy import create_engine, URL, text
import json

DRIVER = "{ODBC Driver 17 for SQL Server}"
SERVER = "mlopserver.database.windows.net"
DATABASE = "mlops"
USERNAME = "mlopsadmin"
PASSWORD = "E$$pl@1234#"

connection_string = f"Driver={DRIVER};Server={SERVER};Database={DATABASE};uid={USERNAME};pwd={PASSWORD}"

connection_url = URL.create('mssql+pyodbc', query={"odbc_connect":connection_string})

engine = create_engine(connection_url)

QUERY_STRING = """SELECT e.EmployeeID, e.EmployeeName, v.Vehicle_Number, v.Model_Name
FROM Employees e JOIN Vehicle_Information v
ON e.EmployeeID = v.EmployeeID"""

# df = pd.read_sql_table('PlateDetails', engine)
df = pd.read_sql_query(QUERY_STRING, engine)

In [8]:
df

  EmployeeID      EmployeeName Vehicle_Number        Model_Name
0     SD0478  Tridip Mahapatra     OD02CF3697  MAHINDRA XUV 300
1     SD1293     Ritish Ghadai      OD14G0818      Honda Activa
2     SD0953     Saroj Pradhan     OD33AJ3073      TATA Harrier
3     SD1304       Sunil Swain      OD33J6461        KTM RC 200

In [10]:
status = 'NOT DETECTED'

INSERT_STRING = text("INSERT INTO ANPR_Transaction(anpr_status) VALUES(:status)")
values = {'status': status}
# print(status)
with engine.connect() as conn:
    print('1')
    conn.execute(INSERT_STRING, values)

1

In [6]:
print(df.loc[df['Vehicle_Number']=="OD02CF3697"
][['EmployeeID', 'EmployeeName', 'Model_Name']].to_dict(orient='records')[0])

{'EmployeeID': 'SD0478', 'EmployeeName': 'Tridip Mahapatra', 'Model_Name': 'MAHINDRA XUV 300'}